html,
body {
  color: white;
  font-family: Inter, "Inter", "Helvetica", "Arial", sans-serif;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.background {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(119.36deg, #050505 0%, #200000 100%);
  -webkit-animation: 30s hueRotate alternate infinite;
          animation: 30s hueRotate alternate infinite;
  z-index: -2;
  position: absolute;
}

.odometer {
  font-size: 40px;
}

.container {
  margin: 8% 5%;
}

.tempUnaivable {
  display: none;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100px;
  margin: 47px auto;
  margin-bottom: 68px;
}

#logo {
  width: 950px;
}

.main {
  max-width: 838px;
  margin: 0 auto;
}

.desc {
  text-align: center;
  margin-bottom: 12px;
  font-family: "Montserrat", Montserrat, Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}

.desc * {
  padding: 0 3px;
}

.searchBar {
  position: relative;
  display: inline;
}

.searchBar #inputUserName {
  width: calc(100% - 46px);
  height: 40px;
  background: transparent;
  border: 1px solid transparent;
  padding-left: 12px;
  font-size: 26px;
}

.searchBar #inputUserName {
  color: rgba(255, 255, 255, 0.89);
  border-bottom-color: rgba(61, 239, 255, 0.2);
}

.searchBar #inputUserName:focus {
  outline: none;
}

.searchBar #inputUserName::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.searchBar #inputUserName:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.searchBar #inputUserName::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.searchBar #inputUserName::placeholder {
  color: rgba(255, 255, 255, 0.4);
}

.searchBar #bar {
  position: absolute;
  left: 0;
  right: 0;
  height: 1px;
  background-color: #3cefff;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.searchBar #inputUserName:focus ~ #bar {
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.searchBar svg {
  z-index: 2;
  float: right;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.result {
  margin: 50px auto;
}

.result .numbers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
  margin: 63px auto;
}

.result * {
  font-family: Inter, "Inter", "Helvetica", "Arial", sans-serif;
  font-style: italic;
  font-weight: 500;
}

.result .profile {
  margin: 40px auto;
}

.UserName {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.aka {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.44);
  -webkit-transform: translateX(-29px);
          transform: translateX(-29px);
}

.profile-pics {
  margin: 0 12px;
}

#UserName-String {
  font-size: 42px;
  font-style: italic;
  font-weight: 500;
}

.result > .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#profile-pics {
  height: 50px;
  border-radius: 14px;
}

.stringStatus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.circle-status {
  width: 20px;
  height: 20px;
  background-color: grey;
  border-radius: 50px;
  -webkit-transition: all 1000ms;
  transition: all 1000ms;
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
}

.StatusOnline {
  -webkit-animation: StatusOnline 6600ms linear 2s 3;
          animation: StatusOnline 6600ms linear 2s 3;
  background-color: #e80000;
}

#heart-icon {
  opacity: 1;
}

footer {
  display: block;
  position: fixed;
  width: 100%;
  bottom: 0px;
  padding: 5px;
}

footer .Fflex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer a {
  color: inherit;
  background: none;
  text-decoration: none;
}

footer .Fleft {
  float: left;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

footer .Fleft a {
  color: #90e4ff;
}

footer .Fright {
  text-align: right;
  float: right;
  color: rgba(255, 255, 255, 0.9);
}

footer .Fright a {
  display: block;
}

footer .Fright svg {
  fill: rgba(255, 255, 255, 0.9);
  width: 20px;
  vertical-align: bottom;
}

@-webkit-keyframes hueRotate {
  from {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes hueRotate {
  from {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  to {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@-webkit-keyframes StatusOnline {
  10% {
    background-color: #e80000;
  }
  10% {
    background-color: transparent;
  }
  20% {
    background-color: #e80000;
  }
  30% {
    background-color: transparent;
  }
  40% {
    background-color: #e80000;
  }
  50% {
    background-color: transparent;
  }
  60% {
    background-color: #e80000;
  }
  70% {
    background-color: transparent;
  }
  80% {
    background-color: #e80000;
  }
  90% {
    background-color: transparent;
  }
  100% {
    background-color: #e80000;
  }
}

@keyframes StatusOnline {
  10% {
    background-color: #e80000;
  }
  10% {
    background-color: transparent;
  }
  20% {
    background-color: #e80000;
  }
  30% {
    background-color: transparent;
  }
  40% {
    background-color: #e80000;
  }
  50% {
    background-color: transparent;
  }
  60% {
    background-color: #e80000;
  }
  70% {
    background-color: transparent;
  }
  80% {
    background-color: #e80000;
  }
  90% {
    background-color: transparent;
  }
  100% {
    background-color: #e80000;
  }
}

@media (max-width: 981px) {
  body {
    opacity: 1;
  }
  #logo {
    width: 90vw;
  }
  .hero {
    margin: 0;
    margin-bottom: 20px;
    height: 100%;
  }
  .container {
    margin: 4% 5%;
  }
  .searchBar #inputUserName {
    font-size: 18px;
    margin-top: 8px;
  }
  .searchBar svg {
    margin: 6px;
  }
  .inputs span {
    font-size: 16px;
  }
  .result {
    margin: 20px auto;
  }
  .result .profile {
    margin: 0;
  }
}

@media (orientation: portrait) {
  main,
  footer {
    display: none;
  }
  .tempUnaivable {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 90vh;
    text-align: center;
    padding: 10px;
  }
}
/*# sourceMappingURL=master.css.map */